body {
    font-family: 'Lucida Grande', sans-serif;
    color: #666666;
    font-weight: 200;
    padding: 30px;
    margin-left: 140px;
    margin-right: 140px;
}
h2 {
    color: #F07C17;
}
.sidebar {
    border: 1px solid #CCCCCC;
}
.innerbar {
    padding: 15px;
}
h1 {
    margin-left: 240px;
    font-size: 46px;
}
p,li {
    font-size: 18px;
    word-spacing: 5px;
    line-height: 170%;
}
img {
    margin-top: 20px;
}
